<h3>Create HoteListComponent</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="hotel.name" name="title">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="hotel.city" name="country">
    </div>

    <div class="form-group">
      <label for="street">Description</label>
      <input type="text" class="form-control" id="street" required [(ngModel)]="hotel.description" name="length">
    </div>

    <div class="form-group">
      <label for="description">Street</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="hotel.street" name="description">
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" required [(ngModel)]="hotel.price" name="price">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newHotel()">Add more</button>
</div>
