<div *ngIf="hotel">
  <div>
    <label>Name: </label> {{hotel.name}}
  </div>
  <div>
    <label>City: </label> {{hotel.city}}
  </div>
  <div>
    <label>Street: </label> {{hotel.street}}
  </div>
  <div>
    <label>Description: </label> {{hotel.description}}
  </div>
  <div>
    <label>Price: </label> {{hotel.price}}
  </div>

  <span class="button is-small btn-primary" (click)='updateHotel()'>Update</span>

  <span class="button is-small btn-danger" (click)='deleteHotel()'>Delete</span>

  <hr/>
</div>
