<div class="panel panel-default">
  <div class="panel-heading">
    <h1>List of hotels</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>City</th>
          <th>Street</th>
          <th>Description</th>
          <th>Price</th>
          <th>  </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of hotels | async">
          <td>{{hotel.id}}</td>
          <td>{{hotel.name}}</td>
          <td>{{hotel.city}}</td>
          <td>{{hotel.street}}</td>
          <td>{{hotel.description}}</td>
          <td>{{hotel.price}}</td>


        </tr>
      </tbody>
    </table>
  </div>
</div>

