<body>
<div class="jumbotron" id="head">
  <div class="container text-center">
    <h1>Hotel Booking</h1>
  </div>
  <div *ngIf="info.token; else loggedOut">
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Role:</strong> {{info.authorities}}<br />
    </p>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>


</div>

<div class="container">
  <h2>Hotels Gallery</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/usa-and-canada/california/san-francisco/guest-rooms/supporting-assets/RCSANFR_00356.png?$XlargeViewport100pct$" target="_blank">
          <img src="https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/usa-and-canada/california/san-francisco/guest-rooms/supporting-assets/RCSANFR_00356.png?$XlargeViewport100pct$" alt="Lights" style="width:100%">
          <div class="caption">
            <p>The Ritz-Carlton</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://mms.businesswire.com/media/20160830006464/en/541810/5/W_Scottsdale_WET_Deck.jpg" target="_blank">
          <img src="https://mms.businesswire.com/media/20160830006464/en/541810/5/W_Scottsdale_WET_Deck.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Vida Hotel</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://static1.squarespace.com/static/52ccee75e4b00bc0dba03f46/t/549d14ace4b00eb7a7a1f85a/1419580596724/" target="_blank">
          <img src="https://static1.squarespace.com/static/52ccee75e4b00bc0dba03f46/t/549d14ace4b00eb7a7a1f85a/1419580596724/" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Hazel Hotel</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
